#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}

header {
  position: absolute;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
}

.nav_link {
  font-weight: 400;
  font-size: 32px;
  color: #333;
  text-align: center;
}
